{% extends "support/index.twig"  %}

{% set page = 'public_' ~ (app.request.get('cat') ?: 'issues') %}

{% block subbody %}

    <p><strong>{{ SupportIssues|length|number_format }}</strong> Issues</p>

    {% for issue in SupportIssues %}

        <div class="sup-row">
            <div>
                <a href="{{ path('feedback_issue', { id: issue.id }) }}"><strong>{{ issue.ref }}</strong> {{ issue.summary }}</a>
            </div>
            <div>
                <span class="text-success">{{ issue.status }}</span>
                <em>-</em>
                <strong>{{ issue.category }}</strong>
                <em>-</em>
                Posted: {{ issue.added|dateRelative }}
            </div>
        </div>

    {% else %}
    <div class="alert alert-secondary">
        There appears to be no issues right now!
    </div>
    {% endfor %}

{% endblock %}
